import(methods, graph)

exportClasses(Hypergraph, Hyperedge, DirectedHyperedge)

exportMethods(nodes, label, show, toUndirected, head, tail, hyperedges,
              numNodes, inciMat, initialize, toGraphNEL)

export(Hypergraph, Hyperedge, DirectedHyperedge)
